#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Rich_text_36 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Rich_text_8 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Rich_text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Pin_red {
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Label_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Label_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Label_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Rich_text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 #s-Rich_text_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2557a033-38f6-4b78-9bc4-2862254adc15 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}