#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_6 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_71 {
  -ms-transform: rotate(180.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_97 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_142 {
  -ms-transform: rotate(90.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Image_166 {
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef #s-Rich_text_33 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-28e56646-f77e-412d-9db3-1217f2e5beef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}