#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rich_text_21 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rich_text_7 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_42 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Image_98 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Image_143 {
  -ms-transform: rotate(90.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Image_167 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 #s-Rich_text_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-5790d741-ea74-40b6-90e2-9641dfd85506 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}