#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 46px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 46px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 46px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_16 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_17 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_6 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_8 {
  -ms-transform: rotate(90.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a #s-Rich_text_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-58957247-edbc-41e5-9a33-2d1dba952b7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}