#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_29 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_100 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_145 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter: alpha(opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -1px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_58 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_38 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_169 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_30 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}