#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_29 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_36 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_8 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_100 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_145 {
  -ms-transform: rotate(90.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Image_169 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rectangle_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_30 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Input_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Input_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_47 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 #s-Rich_text_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-5b2179e7-2537-41eb-9277-05e3aec7f7b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}