#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rich_text_7 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rich_text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Image_98 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Image_143 {
  -ms-transform: rotate(90.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Image_167 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rich_text_21 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rich_text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Rich_text_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
#s-602fb53b-d477-466d-8f31-c173c5ae6b18 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}