#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Act_indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}