#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 {
  background-color: transparent;
  background-image: none;
  min-width: 941px;
  min-height: 480px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rectangle_1 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 320px;
  height: 458px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 23px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 21px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Image_1 {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 307px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Act_indicator {
  position: absolute;
  top: 233px;
  left: 149px;
  width: 21px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Group_2 {
  position: absolute;
  top: 57px;
  left: 78px;
  width: 164px;
  height: 139px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 27px;
  width: 110px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Image_3 {
  position: absolute;
  top: 106px;
  left: 0px;
  width: 164px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_2 {
  position: absolute;
  top: 338px;
  left: 194px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 106px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_2 span {
  color: #0080FF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #0080FF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_3 {
  position: absolute;
  top: 367px;
  left: 194px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 106px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_3 span {
  color: #0080FF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #0080FF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_4 {
  position: absolute;
  top: 309px;
  left: 194px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 106px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_4 span {
  color: #0080FF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #0080FF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_22 {
  position: absolute;
  top: 71px;
  left: 344px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 583px;
  height: 337px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Arial;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_22 span#rtr-s-Rich_text_22_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}