#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Act_indicator {
  -ms-transform: rotate(0.0deg);
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 #s-Rich_text_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-69f1803d-ba9d-49dc-af03-7e1d29fe2d43 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}