#s-7040caea-d261-4d26-a78c-3fe5981687a3 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 480px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Group_4 {
  position: absolute;
  top: 421px;
  left: 0px;
  width: 320px;
  height: 59px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 318px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_11 {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_11 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Image_98 {
  position: absolute;
  top: 11px;
  left: 17px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_12 {
  position: absolute;
  top: 2px;
  left: 69px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_12 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Image_143 {
  position: absolute;
  top: 11px;
  left: 83px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_4 {
  position: absolute;
  top: 2px;
  left: 135px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_4 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Image_56 {
  position: absolute;
  top: 0px;
  left: 126px;
  width: 68px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_13 {
  position: absolute;
  top: 2px;
  left: 200px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_13 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Image_36 {
  position: absolute;
  top: 11px;
  left: 213px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_14 {
  position: absolute;
  top: 2px;
  left: 268px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_14 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Image_167 {
  position: absolute;
  top: 11px;
  left: 281px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Group_57 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 23px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rich_text_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 21px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rich_text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rich_text_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rich_text_21 span#rtr-s-Rich_text_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Image_80 {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 307px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rich_text_7 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 320px;
  height: 50px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rich_text_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Image_92 {
  position: absolute;
  top: 34px;
  left: 17px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 #s-Image_70 {
  position: absolute;
  top: 34px;
  left: 282px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-7040caea-d261-4d26-a78c-3fe5981687a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}