#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_18 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_70 {
  -ms-transform: rotate(180.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_38 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_41 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_42 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_43 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_44 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_45 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_46 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_47 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_48 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_45 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_46 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_47 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_49 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_50 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_51 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_52 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_53 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_21 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_58 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_59 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_60 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_54 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_55 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_56 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_61 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_62 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_63 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_64 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_57 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_58 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_59 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_65 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_66 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_67 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_68 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_60 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_61 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_62 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 49px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_69 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_97 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0000A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0000A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0000A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0000A0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 72px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0000A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0000A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0000A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0000A0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 72px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_98 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_143 {
  -ms-transform: rotate(90.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Image_167 {
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 #s-Rich_text_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-82d4a9b7-33d0-4b90-81ac-9d7605bf5801 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}