#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 46px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 46px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 46px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_45 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_47 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_36 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_8 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_37 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_51 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_52 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_100 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_145 {
  -ms-transform: rotate(90.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Image_169 {
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 #s-Rich_text_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-89177367-ab2c-47cb-b4c5-9294ea415089 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}