#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rich_text_21 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rich_text_7 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rich_text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rich_text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rich_text_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Image_98 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Image_143 {
  -ms-transform: rotate(90.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Image_56 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Image_36 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Image_167 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000080;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  width: 280px;
  height: 150px;
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 126px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 126px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-9157a82c-312e-4930-9687-9ef40214294b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}