#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_2 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Image_10 {
  -ms-transform: rotate(90.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 #s-Rich_text_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9296885f-7dde-4a29-be49-733e92f8ef18 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}