#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d {
  background-color: transparent;
  background-image: none;
  min-width: 941px;
  min-height: 480px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rectangle_1 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 320px;
  height: 458px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Group_57 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 23px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 21px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_21 span#rtr-s-Rich_text_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Image_80 {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 307px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_7 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 320px;
  height: 50px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_26 {
  position: absolute;
  top: 30px;
  left: 94px;
  width: 130px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_26 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_26 span#rtr-s-Rich_text_26_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_1 {
  position: absolute;
  top: 114px;
  left: 42px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 39px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 8pt;
  font-family: Arial;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rectangle_3 {
  position: absolute;
  top: 317px;
  left: 103px;
  width: 112px;
  height: 38px;
  background-color: #0080FF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8pt;
  font-family: Roboto-Bold;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rectangle_3 span#rtr-s-Rectangle_3_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_3 {
  position: absolute;
  top: 167px;
  left: 42px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 15px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 6pt;
  font-family: Arial;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 6pt;
  font-style: normal;
  font-weight: 700;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 6pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Input_5 {
  position: absolute;
  top: 191px;
  left: 42px;
  padding-left: 18px;
  width: 213px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Input_5 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  text-shadow: none;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_4 {
  position: absolute;
  top: 239px;
  left: 41px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 15px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 6pt;
  font-family: Arial;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 6pt;
  font-style: normal;
  font-weight: 700;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 6pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Input_6 {
  position: absolute;
  top: 263px;
  left: 41px;
  padding-left: 18px;
  width: 213px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Input_6 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  text-shadow: none;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_22 {
  position: absolute;
  top: 71px;
  left: 344px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 583px;
  height: 369px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Arial;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_22 span#rtr-s-Rich_text_22_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_22 span#rtr-s-Rich_text_22_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d #s-Rich_text_22 span#rtr-s-Rich_text_22_3 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9795df9b-4cb3-4e9d-9e37-9c2fb2dcba2d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}