#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_45 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_47 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_46 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_36 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_8 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Image_100 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Image_145 {
  -ms-transform: rotate(90.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Image_169 {
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d #s-Rich_text_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-983553cc-fb4a-4ddc-a23b-8d97ee461d3d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}