#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd {
  background-color: transparent;
  background-image: none;
  min-width: 941px;
  min-height: 480px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 480px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_3 {
  position: absolute;
  top: 199px;
  left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 298px;
  height: 94px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 7pt;
  font-family: Roboto-Regular;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Group_4 {
  position: absolute;
  top: 421px;
  left: 0px;
  width: 320px;
  height: 59px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 318px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_11 {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_11 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Image_98 {
  position: absolute;
  top: 11px;
  left: 17px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_12 {
  position: absolute;
  top: 2px;
  left: 69px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_12 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Image_143 {
  position: absolute;
  top: 11px;
  left: 83px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_4 {
  position: absolute;
  top: 2px;
  left: 135px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_4 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Image_56 {
  position: absolute;
  top: 0px;
  left: 126px;
  width: 68px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_13 {
  position: absolute;
  top: 2px;
  left: 200px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_13 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Image_36 {
  position: absolute;
  top: 11px;
  left: 213px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_14 {
  position: absolute;
  top: 2px;
  left: 268px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_14 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Image_167 {
  position: absolute;
  top: 11px;
  left: 281px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Group_57 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 23px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 21px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_21 span#rtr-s-Rich_text_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Image_80 {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 307px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_7 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 320px;
  height: 50px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_26 {
  position: absolute;
  top: 30px;
  left: 94px;
  width: 130px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_26 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_26 span#rtr-s-Rich_text_26_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_1 {
  position: absolute;
  top: 78px;
  left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 298px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 8pt;
  font-family: Roboto-Bold;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_2 {
  position: absolute;
  top: 174px;
  left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 298px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 8pt;
  font-family: Roboto-Bold;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 8pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Category_1 {
  position: absolute;
  top: 127px;
  left: 62px;
  width: 180px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Category_1 .valign {
  width: 152px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Category_2 {
  position: absolute;
  top: 275px;
  left: 62px;
  width: 180px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Category_2 .valign {
  width: 152px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_3 {
  position: absolute;
  top: 364px;
  left: 107px;
  width: 88px;
  height: 38px;
  background-color: #0080FF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0080FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0080FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0080FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0080FF;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Roboto-Bold;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 10pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 10pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Image_8 {
  position: absolute;
  top: 39px;
  left: 14px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_4 {
  position: absolute;
  top: 316px;
  left: 61px;
  width: 180px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_4 span#rtr-s-Rich_text_4_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Monospaced;
  font-size: 6pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_29 {
  position: absolute;
  top: 71px;
  left: 344px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 583px;
  height: 337px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Arial;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_29 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_29 span#rtr-s-Rich_text_29_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_29 span#rtr-s-Rich_text_29_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_29 span#rtr-s-Rich_text_29_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd #s-Rich_text_29 span#rtr-s-Rich_text_29_3 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a8e3213-29d6-4897-a9a1-45ee8d35eefd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}