#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rich_text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Image_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Image_143 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -1px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Image_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 #s-Rich_text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8d0420-0b90-4cf6-ab6e-73dd52fcebd1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}