#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_21 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_7 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_98 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_143 {
  -ms-transform: rotate(90.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_167 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_101 {
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}