#s-c84a7111-6c67-40a0-b06f-93f8389283bd {
  background-color: transparent;
  background-image: none;
  min-width: 941px;
  min-height: 480px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_1 {
  position: absolute;
  top: 53px;
  left: 0px;
  width: 320px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_57 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 23px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 21px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_21 span#rtr-s-Rich_text_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_80 {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 307px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_7 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 320px;
  height: 50px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_4 {
  position: absolute;
  top: 29px;
  left: 106px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 98px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 10pt;
  font-family: Arial;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_4 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_8 {
  position: absolute;
  top: 35px;
  left: 14px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_1 {
  position: absolute;
  top: 110px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 287px;
  height: 16px;
  background-color: #000080;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 10pt;
  font-family: Arial;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_2 {
  position: absolute;
  top: 222px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 288px;
  height: 16px;
  background-color: #000080;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 10pt;
  font-family: Arial;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_1 {
  position: absolute;
  top: 135px;
  left: 0px;
  width: 298px;
  height: 30px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_22 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_21 {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 45px;
  height: 18px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_21 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_21 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_2 {
  position: absolute;
  top: 193px;
  left: 0px;
  width: 297px;
  height: 30px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 297px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_23 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_24 {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 45px;
  height: 18px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_24 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_24 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_3 {
  position: absolute;
  top: 164px;
  left: 0px;
  width: 298px;
  height: 30px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_25 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_25 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_25 span#rtr-s-Rectangle_25_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_26 {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 45px;
  height: 18px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_26 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_26 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_5 {
  position: absolute;
  top: 247px;
  left: 0px;
  width: 298px;
  height: 30px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_27 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_27 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_27 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_27 span#rtr-s-Rectangle_27_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_28 {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 45px;
  height: 18px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_28 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_28 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_28 span#rtr-s-Rectangle_28_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_6 {
  position: absolute;
  top: 363px;
  left: 0px;
  width: 298px;
  height: 30px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_29 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_29 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_30 {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 45px;
  height: 18px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_30 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_30 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_30 span#rtr-s-Rectangle_30_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_7 {
  position: absolute;
  top: 334px;
  left: 0px;
  width: 298px;
  height: 30px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_31 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_31 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_31 span#rtr-s-Rectangle_31_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_32 {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 45px;
  height: 18px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_32 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_32 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_32 span#rtr-s-Rectangle_32_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_8 {
  position: absolute;
  top: 305px;
  left: 0px;
  width: 298px;
  height: 30px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_33 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_33 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_33 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_33 span#rtr-s-Rectangle_33_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_34 {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 45px;
  height: 18px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_34 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_34 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_34 span#rtr-s-Rectangle_34_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_9 {
  position: absolute;
  top: 276px;
  left: 0px;
  width: 298px;
  height: 30px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_35 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_36 {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 45px;
  height: 18px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_36 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_36 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_36 span#rtr-s-Rectangle_36_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_11 {
  position: absolute;
  top: 392px;
  left: 0px;
  width: 298px;
  height: 30px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_39 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_39 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_39 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_39 span#rtr-s-Rectangle_39_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_40 {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 45px;
  height: 18px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_40 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_40 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_40 span#rtr-s-Rectangle_40_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Group_4 {
  position: absolute;
  top: 421px;
  left: 0px;
  width: 320px;
  height: 59px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 318px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_11 {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_11 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_98 {
  position: absolute;
  top: 11px;
  left: 17px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_12 {
  position: absolute;
  top: 2px;
  left: 69px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_12 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_143 {
  position: absolute;
  top: 11px;
  left: 83px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_4 {
  position: absolute;
  top: 2px;
  left: 135px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_4 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_56 {
  position: absolute;
  top: 0px;
  left: 126px;
  width: 68px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_13 {
  position: absolute;
  top: 2px;
  left: 200px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_13 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_36 {
  position: absolute;
  top: 11px;
  left: 213px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_14 {
  position: absolute;
  top: 2px;
  left: 268px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_14 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_167 {
  position: absolute;
  top: 11px;
  left: 281px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Image_101 {
  position: absolute;
  top: 71px;
  left: 297px;
  width: 15px;
  height: 409px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_22 {
  position: absolute;
  top: 71px;
  left: 344px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 583px;
  height: 369px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Arial;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_22 span#rtr-s-Rich_text_22_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_22 span#rtr-s-Rich_text_22_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd #s-Rich_text_22 span#rtr-s-Rich_text_22_3 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c84a7111-6c67-40a0-b06f-93f8389283bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}