#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_36 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_8 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_100 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_145 {
  -ms-transform: rotate(90.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_169 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 #s-Rich_text_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-d3b825b9-1dcb-4658-a11f-2a355253fb53 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}