#s-d8161991-b53d-4081-8855-76c58fff8b5a {
  background-color: transparent;
  background-image: none;
  min-width: 941px;
  min-height: 479px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Group_58 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 320px;
  height: 23px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_36 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 21px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_36 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_36 span#rtr-s-Rich_text_36_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Image_81 {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 307px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_8 {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 320px;
  height: 50px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_37 {
  position: absolute;
  top: 30px;
  left: 2px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 306px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 14pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_37 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_37 span#rtr-s-Rich_text_37_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Group_6 {
  position: absolute;
  top: 420px;
  left: 0px;
  width: 320px;
  height: 59px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 318px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_23 {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_23 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Image_100 {
  position: absolute;
  top: 11px;
  left: 17px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_24 {
  position: absolute;
  top: 2px;
  left: 69px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_24 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Image_145 {
  position: absolute;
  top: 11px;
  left: 83px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_5 {
  position: absolute;
  top: 2px;
  left: 135px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_5 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Image_58 {
  position: absolute;
  top: 0px;
  left: 126px;
  width: 68px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_25 {
  position: absolute;
  top: 2px;
  left: 200px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_25 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_25 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_25 span#rtr-s-Rectangle_25_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Image_38 {
  position: absolute;
  top: 11px;
  left: 213px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_26 {
  position: absolute;
  top: 2px;
  left: 268px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_26 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_26 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Image_169 {
  position: absolute;
  top: 11px;
  left: 281px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Dynamic_Panel_1 {
  position: absolute;
  top: 72px;
  left: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Panel_1 {
  width: 320px;
  height: 349px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: scroll;
  overflow-y: scroll;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 709px;
  background-color: #D8D8D8;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Image_1 {
  position: absolute;
  top: 483px;
  left: 2px;
  width: 318px;
  height: 136px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_29 {
  position: absolute;
  top: 644px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 310px;
  height: 30px;
  background-color: #8C0000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_29 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_29 span#rtr-s-Rich_text_29_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_39 {
  position: absolute;
  top: 61px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 310px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 7pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_39 span {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_39 span#rtr-s-Rich_text_39_0 {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_41 {
  position: absolute;
  top: 135px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 310px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 7pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_41 span {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_41 span#rtr-s-Rich_text_41_0 {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_5 {
  position: absolute;
  top: 32px;
  left: 0px;
  padding-left: 15px;
  width: 305px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  box-shadow: none;
  text-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 7pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_5 input {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_6 {
  position: absolute;
  top: 301px;
  left: 0px;
  padding-left: 15px;
  width: 305px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_6 textarea {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
  text-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_8 {
  position: absolute;
  top: 164px;
  left: 0px;
  padding-left: 15px;
  width: 305px;
  height: 76px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_8 textarea {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_11 {
  position: absolute;
  top: 272px;
  left: 0px;
  padding-left: 15px;
  width: 305px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_11 textarea {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_43 {
  position: absolute;
  top: 272px;
  left: 195px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 115px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 7pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_43 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_43 span {
  color: #0080FF;
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_43 span#rtr-s-Rich_text_43_0 {
  color: #0080FF;
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_4 {
  position: absolute;
  top: 361px;
  left: 1px;
  width: 168px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  box-shadow: none;
  text-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_4 input {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  min-height: 11pt;
  text-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Category_1 {
  position: absolute;
  top: 363px;
  left: 162px;
  width: 158px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Category_1 .valign {
  width: 130px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_21 {
  position: absolute;
  top: 69px;
  left: 68px;
  width: 48px;
  height: 18px;
  background-color: #0080FF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_21 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_21 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_28 {
  position: absolute;
  top: 69px;
  left: 121px;
  width: 48px;
  height: 18px;
  background-color: #0080FF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_28 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_28 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_28 span#rtr-s-Rectangle_28_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_32 {
  position: absolute;
  top: 69px;
  left: 174px;
  width: 48px;
  height: 18px;
  background-color: #0080FF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_32 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_32 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rectangle_32 span#rtr-s-Rectangle_32_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_7 {
  position: absolute;
  top: 421px;
  left: 2px;
  width: 320px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Input_7 input {
  color: #0080FF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  min-height: 11pt;
  text-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_44 {
  position: absolute;
  top: 332px;
  left: 2px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 155px;
  height: 20px;
  background-color: #404040;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 7pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_44 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_44 span#rtr-s-Rich_text_44_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_45 {
  position: absolute;
  top: 332px;
  left: 162px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 148px;
  height: 20px;
  background-color: #404040;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 7pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_45 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_45 span#rtr-s-Rich_text_45_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_47 {
  position: absolute;
  top: 392px;
  left: 2px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 308px;
  height: 20px;
  background-color: #404040;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 7pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_47 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_47 span#rtr-s-Rich_text_47_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_46 {
  position: absolute;
  top: 93px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 310px;
  height: 31px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 7pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_46 span {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_46 span#rtr-s-Rich_text_46_0 {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_46 span#rtr-s-Rich_text_46_1 {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 8pt;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_46 span#rtr-s-Rich_text_46_2 {
  color: #0080FF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 6pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Image_39 {
  position: absolute;
  top: 105px;
  left: 262px;
  width: 34px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_48 {
  position: absolute;
  top: 1px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 308px;
  height: 20px;
  background-color: #000080;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 9pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_48 span#rtr-s-Rich_text_48_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_49 {
  position: absolute;
  top: 241px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 308px;
  height: 20px;
  background-color: #000080;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 9pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_49 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_49 span#rtr-s-Rich_text_49_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_50 {
  position: absolute;
  top: 452px;
  left: 2px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 308px;
  height: 20px;
  background-color: #000080;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 9pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_50 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_50 span#rtr-s-Rich_text_50_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_22 {
  position: absolute;
  top: 71px;
  left: 344px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 583px;
  height: 369px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Arial;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_22 span#rtr-s-Rich_text_22_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_22 span#rtr-s-Rich_text_22_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_22 span#rtr-s-Rich_text_22_3 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_22 span#rtr-s-Rich_text_22_4 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a #s-Rich_text_22 span#rtr-s-Rich_text_22_5 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8161991-b53d-4081-8855-76c58fff8b5a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}