#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rectangle_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rich_text_36 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rich_text_8 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rich_text_37 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Image_100 {
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Image_145 {
  -ms-transform: rotate(90.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Image_169 {
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rich_text_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rich_text_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rich_text_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rich_text_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Image_8 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000080;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 286px;
  height: 104px;
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 186px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-f00dfaef-bbfc-4b32-a229-c2d887ca34bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}