#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_142 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -1px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}