#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0080FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0080FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0080FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0080FF;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_6 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_97 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_142 {
  -ms-transform: rotate(90.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_166 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e #s-Rich_text_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f10b38a3-5e00-48f0-9be0-4fbdc14d7d1e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}