#s-fc970c32-dc2e-48e5-9b52-085cd439d25d {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 480px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Dynamic_Panel_1 {
  position: absolute;
  top: 72px;
  left: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Panel_1 {
  width: 320px;
  height: 350px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: scroll;
  overflow-y: scroll;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 469px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Input_5 {
  position: absolute;
  top: 28px;
  left: 155px;
  padding-left: 15px;
  width: 150px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Input_5 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 11pt;
  text-shadow: none;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_12 {
  position: absolute;
  top: 219px;
  left: 6px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 145px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 6pt;
  font-family: Arial;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_12 span {
  color: #000080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 6pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_12 span#rtr-s-Rich_text_12_0 {
  color: #000080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 6pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_12 span#rtr-s-Rich_text_12_1 {
  color: #000080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_13 {
  position: absolute;
  top: 219px;
  left: 165px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 139px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 6pt;
  font-family: Arial;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_13 span {
  color: #000080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 6pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_13 span#rtr-s-Rich_text_13_0 {
  color: #000080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 6pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_13 span#rtr-s-Rich_text_13_1 {
  color: #000080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_4 {
  position: absolute;
  top: 123px;
  left: 163px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 147px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 8pt;
  font-family: Arial;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_4 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_4 span#rtr-s-Rich_text_4_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_29 {
  position: absolute;
  top: 405px;
  left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 299px;
  height: 54px;
  background-color: #8C0000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Arial;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_29 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_29 span#rtr-s-Rich_text_29_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_2 {
  position: absolute;
  top: 67px;
  left: 163px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 90px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 28pt;
  font-family: Arial;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 28pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 28pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_2 span#rtr-s-Rich_text_2_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_3 {
  position: absolute;
  top: 185px;
  left: 12px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 285px;
  height: 32px;
  background-color: #0080FF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0080FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0080FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0080FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0080FF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 10pt;
  font-family: Arial;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Image_2 {
  position: absolute;
  top: 28px;
  left: 12px;
  width: 144px;
  height: 144px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_4 {
  position: absolute;
  top: 259px;
  left: 8px;
  width: 147px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 7pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_11 {
  position: absolute;
  top: 289px;
  left: 8px;
  width: 147px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 7pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_12 {
  position: absolute;
  top: 321px;
  left: 8px;
  width: 147px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 7pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_13 {
  position: absolute;
  top: 352px;
  left: 8px;
  width: 147px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 7pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_14 {
  position: absolute;
  top: 258px;
  left: 167px;
  width: 147px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 7pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_15 {
  position: absolute;
  top: 289px;
  left: 167px;
  width: 147px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 7pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_16 {
  position: absolute;
  top: 320px;
  left: 167px;
  width: 147px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 7pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_17 {
  position: absolute;
  top: 351px;
  left: 167px;
  width: 147px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 7pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 7pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_8 {
  position: absolute;
  top: 497px;
  left: 6px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 146px;
  height: 30px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 7pt;
  font-family: Arial;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_8 span#rtr-s-Rich_text_8_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_9 {
  position: absolute;
  top: 497px;
  left: 172px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 146px;
  height: 30px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 7pt;
  font-family: Arial;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 7pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Group_56 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 320px;
  height: 23px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 21px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Image_79 {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 307px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_6 {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 320px;
  height: 50px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Group_7 {
  position: absolute;
  top: 421px;
  left: 0px;
  width: 320px;
  height: 59px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 318px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_8 {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_8 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Image_97 {
  position: absolute;
  top: 11px;
  left: 17px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_7 {
  position: absolute;
  top: 2px;
  left: 69px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_7 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Image_142 {
  position: absolute;
  top: 11px;
  left: 83px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_2 {
  position: absolute;
  top: 2px;
  left: 135px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_2 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Image_55 {
  position: absolute;
  top: 0px;
  left: 126px;
  width: 68px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_5 {
  position: absolute;
  top: 2px;
  left: 200px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_5 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Image_35 {
  position: absolute;
  top: 11px;
  left: 213px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_6 {
  position: absolute;
  top: 2px;
  left: 268px;
  width: 50px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 6pt;
  font-family: Roboto-Regular;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_6 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 6pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Image_166 {
  position: absolute;
  top: 11px;
  left: 281px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Image_8 {
  position: absolute;
  top: 37px;
  left: 12px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_3 {
  position: absolute;
  top: 30px;
  left: 94px;
  width: 130px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_3 span {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-fc970c32-dc2e-48e5-9b52-085cd439d25d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}